{% extends 'main_app/base_minimal.html' %}
{% load static %}

{% block title %}About{% endblock %}

{% block content %}

    <div class="about-title">
        <div class="about-big-image">
            <p class="about-page">About me</p>
        </div>
    </div>
    <div class="about-main about-background-color">
        <!-- TODO: change text! -->
        <h1 class="about-section-main-title about-section-title-color ">Header</h1>
        <p class="about-section-main-text about-text-color about-specifics">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore est et maxime nobis quasi sit unde. Alias deleniti error et, hic inventore laboriosam pariatur sint veniam. Fugiat porro quas tempora.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam expedita optio sit voluptas. Aliquid atque culpa deserunt et, eveniet facilis impedit nihil nisi optio repellendus sed tempore totam ullam voluptas?

        <!-- TODO: change text! -->
        <h1 class="about-section-main-title about-section-title-color">Header</h1>
        <p class="about-section-main-text about-text-color about-specifics">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, at autem cupiditate deserunt doloribus eius eos error, expedita fugiat magnam nisi perspiciatis praesentium quasi quia quis reiciendis, sit sunt voluptates.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur at culpa, dolor est non quos rerum saepe veniam! Architecto aut autem blanditiis consectetur esse labore odit quasi. Asperiores odit, tempora.
        </p>

        <!-- TODO: change text! -->
        <h1 class="about-section-main-title about-section-title-color">Header</h1>
        <p class="about-section-main-text about-text-color about-specifics">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus adipisci aliquam consequuntur cumque cupiditate dolorem expedita impedit iusto libero, minima molestiae numquam odit perferendis, praesentium, ratione saepe ut veniam?
        </p>
    </div>
    {% include 'main_app/footer.html' %}


{% endblock %}