{% extends "main_app/base.html" %}

{% load crispy_forms_tags %}

{% block title %}Contact{% endblock %}

{% block content %}


    <form method="post" action="">
    {% csrf_token %}
        <div class="row">
            <div class="col-6">
                {{ contact_form.name|as_crispy_field }}
            </div>
            <div class="col-6">
                {{ contact_form.email_address|as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                {{ contact_form.subject|as_crispy_field }}
            </div>
        </div>

        {{ contact_form.message|as_crispy_field }}

        <div class="mt-3">
            <button class="btn btn-success" type="submit" name="save">Submit</button>
        </div>
    </form>


{% endblock %}