[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/home/path to project/<name of project>/project_head
ExecStart=/path/to/project_root/bin/gunicorn --access-logfile - --workers 3 --bind unix:/run/gunicorn.sock project_head.wsgi:application

[Install]
WantedBy=multi-user.target


